# Byte-compiled / optimized / DLL files
projects/__pycache__/
projects/ISEE/__pycache__/
*.py[cod]
venv/

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg