{% extends "layout.html" %}
{% block title %}
<title>Contact</title>
{% endblock %}

{% block body %}

<div class="section-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="section-container-spacer text-center">
          <h1 class="h2">04 : Contact me</h1>
        </div>

        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <form action="submit_form" method="POST" class="reveal-content">
              <div class="row">
                <div class="col-md-7">
                  <div class="form-group">
                    <input name="email" type="email" class="form-control" id="email" placeholder="Email" required>
                  </div>
                  <div class="form-group">
                    <input name="subject" type="text" class="form-control" id="subject" placeholder="Subject" required>
                  </div>
                  <div class="form-group">
                    <textarea name="message" class="form-control" rows="5" placeholder="Enter your message"
                      required></textarea>
                  </div>
                  <button type="submit" onclick="sent_mail()" class="btn btn-default btn-lg">Send</button>
                  <br>
                  <font size=3>
                    {{ msg }}
                  </font>
                </div>
                <div class="col-md-5 address-container">
                  <ul class="list-unstyled">
                    <li>
                      <span class="fa-icon">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                      </span>
                      (62) *****-8542
                    </li>
                    <li>
                      <span class="fa-icon">
                        <i class="fa fa-at" aria-hidden="true"></i>
                      </span>
                      dummyb28@gmail.com
                    </li>
                    <li>
                      <span class="fa-icon">
                        <i class="fa fa fa-map-marker" aria-hidden="true"></i>
                      </span>
                      Goiânia, GO - Brazil
                    </li>
                  </ul>
                  <h3>Follow me on social networks</h3> Coming Soon... I promise to create them someday
                  <!-- <a href="http://www.facebook.com" title="" class="fa-icon">
                    <i class="fa fa-facebook"></i>
                  </a>
                  <a href="http://www.twitter.com" title="" class="fa-icon">
                    <i class="fa fa-twitter"></i>
                  </a>
                  <a href="http://www.linkedin.com" title="" class="fa-icon">
                    <i class="fa fa-linkedin"></i>
                  </a> -->

                </div>
              </div>
            </form>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>

{% endblock %}