{% extends "layout.html" %}
{% block title %}
<title>Pedro</title>
{% endblock %}

{% block meta %}
<meta name="google-site-verification" content="k-tQ-HyDQbbBy74_8vVlmXECm08ZO_QUt_FdfnFnlTU" />
<meta name="robots" content="index, follow" />
<meta name="KEYWORDS" content="PYTHON, JAVASCRIPT, GAMES,PROJECTS, FREELANCER" />
<meta name="description"
    content="Site to show some projects and games developed with Python and sometimes with JavaScript">
<meta property="og:title" content="Peter03" />
<meta property="og:url" content="http://peter03.pythonanywhere.com/" />
<meta property="og:description" content="Some projects and games developed with Python and JavaScript">
<meta property="og:image" content="./static/assets/images/images.png">
{% endblock %}

{% block body %}
<!--

<div class="hero-full-container background-image-container white-text-container"
    style="background-image: url('./static/assets/images/wolf.jpeg')">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="hero-full-wrapper">
                    <div class="text-content">
                        <h1>Hello,<br>
                            <span id="typed-strings">
                                <span>I'm Pedro Paulo</span>
                                <span>Python Developer</span>
                                <span>Enjoyng a Hobby</span>
                            </span>
                            <span id="typed"></span>
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

 -->

{% endblock %}

{% block footer %}
{% endblock %}

{% block scripts %}
<script>
    document.addEventListener("DOMContentLoaded", function (event) {
        type();
        movingBackgroundImage();
    });
</script>
<script type="text/javascript" src="./static/script.js"></script>
{% endblock %}