{% extends "layout.html" %}
{% block title %}
<title>Pedro</title>
{% endblock %}
{% block body %}
<!-- Add your site or app content here -->
<div class="hero-full-container background-image-container white-text-container"
    style="background-image: url('./static/assets/images/wolf.jpeg')">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="hero-full-wrapper">
                    <div class="text-content">
                        <h1>Hello,<br>
                            <span id="typed-strings">
                                <span>I'm Pedro Paulo</span>
                                <span>Python Developer</span>
                                <span>Enjoyng a Hobby</span>
                            </span>
                            <span id="typed"></span>
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}