{% extends "layout.html" %}
{% block title %}
<title>Sudoku Solver</title>
{% endblock %}

{% block meta %}
<meta name="KEYWORDS" content="SUDOKU SOLVER, SUDOKU TIPS, SUDOKU, PYTHON PROJECT" />
<meta name="description" content="Sudoku solver developed with Python">
<meta property="og:title" content="Password Checker" />
<meta property="og:url" content="http://peter03.pythonanywhere.com/sudoku_solver" />
<meta property="og:description" content="Sudoku solver developed with Python">
<meta property="og:image" content="./static/assets/images/images.png">
{% endblock %}

{% block body %}
<div class="section-container">
    <div >
        <div >
            <div>
                <div class="section-container-spacer text-center">
                    <h1 class="h2">Load Flow Problem Solver</h1>
                </div>
                <div >
                    <div class="col-md-10 col-md-offset-1" style="overflow: auto; width: 800px;">
                        <div style="width: 50%;">
                            <label for="num_barras">Num. Barras (3 - 10)</label>
                            <input type="number" value="9" id="num_barras" name="num_barras"  min="3" max="10" oninput="create_table_dado_barras()">
                        </div>
                        <div id="DadoBarras" class="form-group sudoku">

                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="./static/ISEE.js"></script>
{% endblock %}