<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <meta content="description" name="description">
    <meta name="google" content="notranslate" />
    <meta content="Mashup templates have been developped by Orson.io team" name="author">

    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">

    <link rel="apple-touch-icon" sizes="180x180" href="./static/assets/apple-icon-180x180.png">
    <link href="./static/favicon.ico" rel="icon">
    {% block title %}
    <title>Title page</title>
    {% endblock %}
    {% block meta %}
    <meta name="description" content="Sim, eu estava entediado o bastante para aprender a fazer isso...">
    <meta property="og:title" content="My site" />
    <meta property="og:url" content="http://peter03.pythonanywhere.com/" />
    <meta property="og:description" content="Nada demais, so um site aleatório">
    <meta property="og:image" content="./static/assets/images/images.png">
    {% endblock %}
    <link href="./static/style.css" rel="stylesheet">

    {% block headScript  %}
    {% endblock %}
</head>

<body class="minimal">
    <div id="site-border-left"></div>
    <div id="site-border-right"></div>
    <div id="site-border-top"></div>
    <div id="site-border-bottom"></div>
    <!-- Add your content of header -->
    <header>
        {% block navbar %}
        <nav class="navbar  navbar-fixed-top navbar-inverse">
            <div class="container">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#navbar-collapse" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav ">
                        <li><a href="./index.html" title="">01 : Home</a></li>
                        <li><a href="./games.html" title="">02 : Games</a></li>
                        <li><a href="./projects.html" title="">03 : Projects</a></li>
                        <li><a href="./contact.html" title="">04 : Contact</a></li>
                    </ul>


                </div>
            </div>
        </nav>
        {% endblock %}
    </header>
    {% block body %}

    {% endblock %}

    {% block footer %}

    <footer class="footer-container text-center">
        <div class="container">
            <div class="row">
                <!-- <div class="col-xs-12">
                    <p>© UNTITLED | Website created with <a href="http://www.mashup-template.com/"
                            title="Create website with free html template">Mashup Template</a>/<a
                            href="https://www.unsplash.com/" title="Beautiful Free Images">Unsplash</a></p>
                </div> -->
            </div>
        </div>
    </footer>

    {% endblock %}



    <script type="text/javascript" src="./static/script.js"></script>
    {% block scripts %}
    {% endblock %}
</body>

</html>