{% extends "layout.html" %}
{% block title %}
<title>MineFild</title>
{% endblock %}
{% block body %}
<div class="section-container">
    <div class=" container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-container-spacer text-center">
                    <h1 class="h2">02 : MineFild</h1>
                </div>
                <div class="row">
                    {% set jogo = url %}
                    <form action="" method="POST" class="reveal-content">
                        <input type="hidden" name='primeiro' value='N'>
                        <div class="col-md-10 col-md-offset-1" style="overflow: auto; min-width: 600px;">
                            <h3>
                                {% if mark %}
                                <img src="./static/assets/images/minefild/pá.png" style='width:10%'> <input type="radio"
                                    name="tipo" value='reveal'>
                                <img src="./static/assets/images/minefild/flag.png" style='width:10%'> <input
                                    type="radio" name="tipo" value='mark' checked>
                                {% else %}
                                <img src="./static/assets/images/minefild/pá.png" style='width:10%'> <input type="radio"
                                    name="tipo" value='reveal' checked>
                                <img src="./static/assets/images/minefild/flag.png" style='width:10%'><input
                                    type="radio" name="tipo" value='mark'>
                                {% endif %}
                                <img src="./static/assets/images/minefild/bomb_without.png" style='width:10%'>
                                Bombs:{{table.objetive}} Flags:{{table.num_marks}}</h3>
                            <br>
                            {% for line in table.tabuleiro %}
                            {% set cotroler = loop.index %}
                            {% for cel in line %}
                            {% set x = (loop.index+cotroler)%2==0 %}
                            {% if cel.reveal %}
                            <button class="minabot" disabled>
                                <div class="row">
                                    {% if cel.bomba %}
                                    <img src="./static/assets/images/minefild/bomb{{win}}.png"
                                        style="width: 100%; height: 100%;" alt="bomba">
                                    {% else %}
                                    <img src="./static/assets/images/minefild/num{{cel.proximidade}}{{x}}.png"
                                        style="width: 100%; height: 100%;" alt="{{cel.proximidade}}">
                                    {% endif %}
                                </div>
                            </button>
                            {% else %}
                            {% if not lose and not win %}
                            <button class=" minabot" type="submit" name='info' value="{{cel.linha, cel.coluna, url}}">
                                <div class="row">
                                    {% if cel.marked %}
                                    <img src="./static/assets/images/minefild/flag{{x}}.png"
                                        style="width: 100%; height: 100%;" alt="flag">
                                    {% else %}
                                    <img src="./static/assets/images/minefild/tile{{x}}.png"
                                        style="width: 100%; height: 100%;" alt="tile">
                                    {% endif %}
                                </div>
                            </button>
                            {% else %}
                            <button class="minabot" style="width: 5%; height: 5%" disabled>
                                <div class="row">
                                    {% if cel.marked %}
                                    <img src="./static/assets/images/minefild/flag{{x}}.png"
                                        style="width: 100%; height: 100%;" alt="flag">
                                    {% else %}
                                    <img src="./static/assets/images/minefild/tile{{x}}.png"
                                        style="width: 100%; height: 100%;" alt="tile">
                                    {% endif %}
                                </div>
                            </button>
                            {% endif %}
                            {% endif %}
                            {% endfor %}
                            <br>
                            {% endfor %}
                            {% if (win or lose) %}
                            <br>
                            <a href="./mineField" title="" class="btn btn-default">Play again</a>
                            {% if win %}
                            parabemnnnns
                            {% endif %}
                            {% endif %}
                        </div>
                    </form>

                </div>

            </div>
        </div>
    </div>
</div>

</div>
{% endblock %}