{% extends "layout.html" %}
{% block title %}
<title>MineFild</title>
{% endblock %}

{% block headScript  %}
<link href="./static/style.css" rel="stylesheet">
<style>
    section{
        width: 100%;
        position: absolute;
        
        z-index: 1;
    }
</style>
{% endblock %}

{% block onbody %}onload="new Tabuleiro({{tamanho}}, 16, {{n_bomb}})""style="background:#008000"{% endblock %}

{% block body %}
<nav id="fireworks" class="navbar  navbar-fixed-top navbar-inverse">
<section> 
<a href="./mineField" title="" style="padding-left: 50%;padding-top: 50%; position: absolute; z-index: 2;">Play again</a>
</section>
</nav>
<div class="section-container">
    <div class=" container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-container-spacer text-center">
                    <h1 class="h2">02 : MineFild</h1>
                </div>
                <div class="row">
                  <div id="table" class="col-md-10 col-md-offset-1" style="overflow: auto; min-width: 600px;">
                  </div>
                </div>
            </div>
        </div>      
    </div>   
    <a href="./mineField" title="" class="btn btn-default" style="padding-left: 5%; position: absolute; z-index: 2;">Play again</a>    
    
</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='jquery.fireworks.js') }}"></script>
<script type="text/javascript" src="./static/minefield.js"></script>
<script>
    $('section').fireworks({ 
        sound: false, // sound effect
        opacity: 0.9, 
        width: '100%', 
        height: '100%' 
    });
</script>
{% endblock %}