{% extends "layout.html" %}

{% block title %}
<title>Paciência</title>
{% endblock %}

{% block meta %}
<meta name="KEYWORDS" content="GAME, PACIENCIA, CARDS, JAVASCRIPT" />
<meta name="description" content="Paciencia game developed with Python">
<meta property="og:title" content="Paciencia" />
<meta property="og:url" content="http://peter03.pythonanywhere.com/paciencia" />
<meta property="og:description" content="A Paciencia game made with Python">
<meta property="og:image" content="./static/assets/images/images.png">
{% endblock %}

{% block headScript  %}
<style>
    section{
        height: 75%;
        width: 100%;
        position: absolute;
        z-index: 1;
    }
</style>
{% endblock %}


{% block onbody %}onload="append_cards()"" style="background:#008000"{% endblock %}

{% block body %}
<section id="fireworks"> </section>
<div class="section-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 ">
                <div class="card-container" style="background: 	#008000">
                        <div class="text-center">
                            <br><br>
                            <h1 class="h2"> Paciência </h1>
                        </div>
                </div>
            </div>
            <div style="overflow: auto; min-width: 300px;">

                <div style="width: 10%; display: inline-block; vertical-align: top; margin-right: 5%;">

                    <div style="width: 90%;">

                        <div style="position:relative; height: 5rem; padding-bottom: 200%;" id="drawing">

                            {% for x in range(-1,24) %} {% set porcent = x %}
                            {% if loop.first %}
                            <img class="card-sp" onclick="draw_card()" src="./static/assets/images/Deck/redraw2.png"
                                draggable="false" droppable="false"
                                style="width: 75%; position:absolute;left:1rem; top:{{ porcent }}%; visibility: visible">
                            {% else %}

                            <div class="fileira"
                                style="position: absolute;left:1rem; top:{{ porcent }}%; visibility: visible"
                                id="draw{{x+28}}" draggable="false" ondragstart="drag(event)" ondrop="drop(event)"
                                ondragover="allowDrop(event)" onclick="draw_card()">

                                <img class="card-sp" id="baralho" name="{{ deck[x+28] }}"
                                    src="./static/assets/images/Deck/verso.png" draggable="false" droppable="false"
                                    ondragstart="drag(event)" ondrop="drop(event)" ondragover="allowDrop(event)"
                                    style="width: 75%;">

                                <div class="subfileira" id="row{{ deck[x+28] }}" draggable="false" droppable="false"
                                    ondragstart="drag(event)" ondrop="drop(event)" ondragover="allowDrop(event)"></div>

                            </div>

                            {% endif %}
                            {% endfor %}


                        </div>
                        <div id="comprada" draggable="false" droppable="false" style="position: relative;"></div>
                    </div>
                </div>

                <div style="width: 65%; display: inline-block; vertical-align: top;">

                    {% for fundo in range(7) %} {% set ext = loop.index0 %}

                    <div class="base" id="fundo{{fundo}}" ondrop="drop(event)" ondragover="allowDrop(event)">

                        {% for card in range( 1, ( 2 + fundo ) ) %} {% set inter = loop.index0 %}

                        <div class="fileira" id="fund{{ fundo,card }}" draggable="true" ondragstart="drag(event)"
                            ondrop="drop(event)" droppable="false" ondragover="allowDrop(event)">

                            {% set soma = ( (ext + 1) * (ext / 2) ) | int %}
                            {% set carta = (soma + inter) %}

                            {% if loop.last %}

                            <img class="card-sp" id="baralho" name="{{ deck[carta] }}" data-hid="false"
                                src="./static/assets/images/Deck/{{deck[carta][1]}}{{deck[carta][0]}}.png"
                                draggable="false" droppable="false" ondragstart="drag(event)" ondrop="drop(event)"
                                ondragover="allowDrop(event)">

                            {% else %}

                            <img class="card-sp" id="baralho" name="{{ deck[carta] }}" data-hid="true"
                                src="./static/assets/images/Deck/verso.png" draggable="false" droppable="false"
                                ondragstart="drag(event)" ondrop="drop(event)" ondragover="allowDrop(event)">

                            {% endif %}

                            <div class="subfileira" id="row{{ fundo,card }}" draggable="true" ondragstart="drag(event)"
                                ondrop="drop(event)" ondragover="allowDrop(event)"></div>

                        </div>

                        {% endfor %}

                    </div>

                    {% endfor %}

                </div>

                <div style="width: 10%; display: inline-block; vertical-align: top; margin-right: 5%;padding-top: 2%;">
                    <div style="width: 50%;">
                        <div style="position:relative" id="Basing">

                            {% for naipe in ["copas","espadas","ouros","paus"] %}
                            <div style="padding-bottom: 10px;">
                                <div class="fileira" id="base{{naipe}}" draggable="false" ondragstart="drag(event)"
                                    ondrop="drop(event)" droppable="false">

                                    <img class="card-sp" id="base" name="{{ naipe,0 }}"
                                        src="./static/assets/images/Deck/0{{naipe}}.png" draggable="false"
                                        droppable="true" ondragstart="drag(event)" ondrop="drop(event)"
                                        ondragover="allowDrop(event)">
                                </div>
                            </div>
                            {% endfor %}

                        </div>

                    </div>

                </div>

            </div>
            <div style="padding-left: 5%; position: absolute; z-index: 2;">
                <button style="background: red; color:white;" onclick="document.location.reload(true);">
                    New Game
                </button>
            </div>
        </div>
        
    </div>
</div>


{% endblock %}

{% block scripts %}
<script src="./static/DnD/DragDropTouch.js"></script>
<script type="text/javascript" src="./static/spider.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='jquery.fireworks.js') }}"></script>
<script>
    $('section').fireworks({ 
        sound: true, // sound effect
        opacity: 0.9, 
        width: '100%', 
        height: '100%' 
    });
</script>
{% endblock %}