{% extends "layout.html" %}
{% block title %}
<title>Password Checker</title>
{% endblock %}
{% block body %}
<div class="section-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="card-container">
                    <div class="text-center">
                        <br><br>
                        <h1 class="h2"> Password Checker </h1>
                    </div>

                    <blockquote>
                        <p>A project tha checks if the passowrd have ever been leaked to the internet and, if yes,
                            how many times</p>
                    </blockquote>

                </div>
            </div>

            <div class="col-md-10 col-md-offset-1">
                <form action="passoword-checker" method="POST" class="reveal-content">
                    <input type="password" name="pass" placeholder="type here the password"
                        style="width:100%; font-size: 16px;" required>
                    <br>
                    <h3>{{ text }}</h3><br>
                    <button type="submit">Check Password</button>
                    <button type="reset">Clear Field</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}