{% extends "layout.html" %}
{% block title %}
<title>Plataformer Solver</title>
{% endblock %}

{% block body %}
<div class="section-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-container-spacer text-center">
                    <h1 class="h2">Plataformer</h1>
                </div>
                <div class="centralizar">
                    <div class="card-container card-container-lg">
                        <h3>Plataformer</h3>
                        <p>A 2D plataformer game made with Unity. Download and have fun</p>
                        <div class = "carousel slide projects-carousel">
     
                            <video width="300" autoplay muted controls>
                                <source src="./static/assets/videos/Plataformer_trailer.mp4" type="video/mp4">
                                Your browser does not support the video tag.
                                </video>
                            
                            <img src="./static/assets/images/Plataformer/Plataformer lv1.jpg" alt="" style="width: 40%;" class="col-sm-4">
                            <img src="./static/assets/images/Plataformer/Plataformer lv2.jpg" alt="" style="width: 40%;" class="col-sm-4">
                            <img src="./static/assets/images/Plataformer/Plataformer lv3.jpg" alt="" style="width: 40%;" class="col-sm-4">
                        </div>
                        <br><br><br><br><br><br><br>
                        <a href="https://drive.google.com/file/d/1lRQKDoB7xkafoEKuf-GNY_wU2G_TQPYw/view?usp=share_link"target="_blank" rel="noopener noreferrer" title="" class="btn btn-default">download</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}